<ion-content padding>
  <ion-menu [content]="mycontent" side="{{side}}">
    <ion-content>
      <ion-list>
        <button *ngFor="let item of pages" ion-item menuToggle (click)="setPage(item.page)">
          {{item.text}}
        </button>
        <ion-item>
          <ion-label>התחלת ארכיון</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="startDate" min="{{minDate}}" max="{{endDate}}"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>סוף ארכיון</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="endDate" (change)="changeT($event)" min="{{startDate}}" max="{{maxDate}}"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #mycontent [root]="rootPage"></ion-nav>
</ion-content>

