<ion-list>
  <ion-list-header>
    <span>מספרי המזל:</span>
    <span *ngIf="willBe.length==0">0</span>
      <span *ngIf="willBe.length>0">
        <ion-grid class="lucky-grid">
          <ion-item *ngFor="let ball of willBe; let i=index;">
            <span class="ball" (click)="removeNumber(i)">{{ball}}</span>
          </ion-item>

        </ion-grid>
      </span>
  </ion-list-header>

  <ion-grid class="lucky-grid">
    <ion-item *ngFor="let ball of choices">
      <span class="ball" (click)="addNumber(ball)">{{ball}}</span>
    </ion-item>
  </ion-grid>

      <button (click)="addArray()" ion-button outline full>
          שמור את מספרי המזל שלך
      </button>
</ion-list>
