lottery-list{
  ion-item-sliding{
    direction: ltr;
  }
  ion-label{
    white-space: initial;
    line-height: 22px;
  }

}
.above-tabs > .toast-wrapper.toast-bottom {
    bottom: 7vh;
}
span.ball {
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-flex;
  margin-right: 5px;
}
span.ball > span{
  text-align: center;
  width: 100%;
}
.last-ball span.ball:last-child{
  background-color: #0d81ff;
}
