<div [class.last-ball]="true||recordType=='group'">
  <ion-item-sliding *ngFor="let item of loadedData; let i=index;" #slidingItem>
    <ion-item>
      <!-- <ion-badge class="ball" *ngFor="let num of item.numbers; let i=index;" item-right>{{num}}</ion-badge>
       -->
      <span class="cover" [ngClass]="lastBallClass" *ngFor="let num of item.numbers">
        <span class="ball">
          <span>{{num}}</span>
        </span>
      </span>
    </ion-item>
    <ion-item-options side="right" *ngIf="true||add&&!disabled">
      <button ion-button (click)="analyzeModal(item,slidingItem)" color="secondary" icon-left>
        <ion-icon name="calculator"></ion-icon>
        נתח
      </button>
      <button ion-button (click)="addToService(item,slidingItem)" *ngIf="add&&!disabled" color="positive" icon-left>
        <ion-icon name="add-circle"></ion-icon>
        הוסף
      </button>
    </ion-item-options>
    <ion-item-options side="left" *ngIf="!disabled">
      <button ion-button color="danger" (click)="removeItem(i,slidingItem)" icon-left>
        <ion-icon name="trash"></ion-icon>
        מחק
      </button>
    </ion-item-options>
  </ion-item-sliding>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="needInfinite" threshold="30%">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="טוען נתונים נוספים...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
