<div  [class.last-ball]="true||recordType=='group'">
  <ion-item-sliding  *ngFor="let item of data" #slidingItem>
    <ion-item class="cover">
      <!-- <ion-badge class="ball" *ngFor="let num of item.numbers; let i=index;" item-right>{{num}}</ion-badge>
       -->  <span class="ball" *ngFor="let num of item.numbers; let i=index;" ><span>{{num}}</span></span>
    </ion-item>
    <ion-item-options side="right" *ngIf="true||add&&!disabled">
      <button ion-button (click)="analyzeModal(item,slidingItem)" color="secondary" icon-left>
        <ion-icon name="calculator"></ion-icon>
        נתח
      </button>
      <button ion-button (click)="addToService(item,slidingItem)"  *ngIf="add&&!disabled"color="positive" icon-left>
        <ion-icon name="add-circle"></ion-icon>
        הוסף
      </button>

    </ion-item-options>
    <ion-item-options side="left" *ngIf="!disabled">
      <button ion-button color="danger" (click)="removeItem(i,slidingItem)" icon-left>
        <ion-icon name="trash"></ion-icon>
        מחק
      </button>
    </ion-item-options>
  </ion-item-sliding>
  <!--<h1 *ngFor="let x of [1,1,1,1,1,1,1,1,1,1]">hi</h1>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="20%">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>-->
</div>
